.card-top{
    width: 100%;
    height: 250px;
    background-image: url('../image/Darksky-Franch.jpg');
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    text-transform: uppercase;
    > h1{
        color: #fff;
        font-size: 2rem;
        position: absolute;
        top: 30px;
        right: 80px;
        &:after {      /*Idea from Jackie*/
            content: "";
            position: absolute;
            width: 50%;
            height: 1px;
            bottom: -10px;
            left: 25%;
            border-bottom: 2px solid #ddd;
        }
    }
    main{
        color: #ddd;
        width: 260px;
        position: relative;
        top: 50px;
        left: 30px;
        text-align: center;
        .celsius{
            font-size: 5rem;
            color: #fff;
        }
        > p{

            margin: 0px;
        }
        ul{
            display: flex;
            list-style-type: none;
            padding: 0px;
            li{
                font-size: 0.75rem;
                width: 130px;
                &:first-of-type{
                    border-right: 1px solid #aaa;
                }
            }
        }
    }
}