body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTim9-qu3nMAekbqnJUvXHD4DOwSSgqC3XYd1yCArGDj8ep8aLerw");
    background-size: cover;
  }
.card{
    background: #fff;
    margin: auto;
    position: relative;
    top: 70px;
    width: 1000px;
    height: 600px;
    box-shadow: 0 5px 5px 2px;
    border-radius: 5px;
}
.card-down{
  display: flex;
  padding: 4rem 0;
  box-sizing: border-box;
  height: 350px;
}