body {
    margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #fff;
      background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTim9-qu3nMAekbqnJUvXHD4DOwSSgqC3XYd1yCArGDj8ep8aLerw");
      background-size: cover;
  }
.card{
    position: absolute;
    top: 100px;
    left: 250px;
    width: 1000px;
    height: 600px;
    box-shadow: 0 5px 10px 5px;
    border-radius: 5px;
}